---
title: Emily Mikl
layout: layouts/base.njk
---
<div class="flex flex-col-reverse md:flex-row justify-center lg:justify-between md:items-center lg:mt-2">
  <div class="md:max-w-sm lg:max-w-none">
    <h1 class="font-display font-black text-6xl md:text-7xl lg:text-8xl">{{title}}</h1>
    <h2 class="engineer font-display font-extrabold text-3xl md:text-4xl lg:text-5xl mt-5 md:my-10 py-4">Front-End Engineer</h2>
    <ul class="skills font-semibold text-xl uppercase flex flex-wrap mt-5">
      <li>HTML</li>
      <li>CSS</li>
      <li>A11y</li>
      <li>JS/TS</li>
      <li>Angular</li>
      <li>Design Systems</li>
    </ul>
  </div>
  <div class="flex-initial mb-10 md:mb-0 md:ml-8">
    <img class="homepage-pic m-auto md:mr-0 md:ml-auto" src="images/Emily-15-cropped.png" alt="Emily Mikl">
  </div>
</div>
