<nav class="flex items-center w-8/12 min-h-nav">
  <ul class="flex justify-evenly w-full uppercase">
    <li><a href="/about" class="transition duration-250 ease-in-out hover:text-pink-dark">About</a></li>
    <li><a href="/blog" class=" transition duration-250 ease-in-out hover:text-pink-dark">Blog</a></li>
    <li><a href="/resume" class="transition duration-250 ease-in-out hover:text-pink-dark">Resume</a></li>
    <li><a href="/contact" class="transition duration-250 ease-in-out hover:text-pink-dark">Contact</a></li>
  </ul>
</nav>
