<nav class="flex items-center w-8/12 lg:w-6/12 xl:w-4/12 min-h-nav">
  <ul class="flex justify-between items-center w-full uppercase">
    <li class="mt-2"><a href="/about" class="text-lg tracking-wide transition duration-250 ease-in-out hover:text-pink-dark">About</a></li>
    <li class="mt-2"><a href="/blog" class="text-lg tracking-wide transition duration-250 ease-in-out hover:text-pink-dark">Blog</a></li>
    <li class="mt-2"><a href="/resume" class="text-lg tracking-wide transition duration-250 ease-in-out hover:text-pink-dark">Resume</a></li>
    <li class="mt-2"><a href="/contact" class="text-lg tracking-wide transition duration-250 ease-in-out hover:text-pink-dark">Contact</a></li>
    <li><a href=""><img class="w-8" src="/images/github.svg" alt="Git Hub logo"></a></li>
    <li><a href=""><img class="w-8" src="/images/linkedin_circle.svg" alt="LinkedIn logo"></a></li>
  </ul>
</nav>
