<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>{{ site.title }}</title>
</head>
<body class="bg-pink-light font-serif font-normal">
  <header class="flex items-center justify-between md:container md:mx-auto py-4 px-8 md:px-6">
    <a href="/"><img src="/images/M.svg" alt="M logo" class="w-16"></a>
    {% include "nav.njk" %}
  </header>
  <main class="md:container md:mx-auto p-8 md:p-6">
    {{ content | safe }}
  </main>
</body>
</html>
